body{
    background-color: black;
}

DisplayImage{
    float:right;
    margin-left: 90%;
    padding: 5px;
}

OffCanvasDetail{
    text-align: center;
}
.OCImg{
    width: 250px;
}
.card{
    width: 25%;
    padding: 15px;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.fillWidth{
    width: 100%;
}

.CardImg{
    width: 100%;
}

.offcanvas{
    background-color: rgb(20, 0, 44);
    color: azure;
    height: 100%;
    width: 100%;
}

.offcanvas-header .btn-close{
background-image: url("/temp.svg");
}

/* var template = '<li><span><a href="'+linkHref+'">'+textValue+'</a></span></li>';
    $('#template').appendChild(template);

    if ( scorecard.what_changed.length ) {
        scorecard.what_changed.forEach( ( item ) => {
            let newLI = document.createElement( 'li' ); // <li>
            let newSpan = document.createElement( 'span' ); // <span>
            let newImg = document.createElement( 'img' ); // <img>
            let text = item.list_item ? item.list_item : item; // { list_i
var data = [];
Mike Garrett10:07 AM
var data = [ 'one', 'two' ]; */