body{
    background-color: black;
}

DisplayImage{
    float:right;
    margin-left: 90%;
    padding: 5px;
}

OffCanvasDetail{
    text-align: center;
}
.OCImg{
    width: 250px;
}

.card:hover{
    border-width: 0px;
    transition: 0.5;
}

@media (min-width: 575.98px) { 
    .card{
        width: 100%;
        float: left;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        } 
}

@media (min-width: 576px) { .card{
    width: 50%;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    }  }

@media (min-width: 992px) { .card{
    width: 25%;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    }  }

@media (min-width: 1200px) { .card{
    width: 20%;
    float: left;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    } }

.fillWidth{
    width: 100%;
}

.CardImg{
    width: 100%;
}

.offcanvas{
    background-color: rgb(20, 0, 44);
    color: azure;
    height: 100%;
    width: 100%;
}
.offcanvas.show {
    visibility: visible;
}

.offcanvas-header .btn-close{
background-image: url("/temp.svg");
}

.CantSelect{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}